In [1]:
import pandas as pd

In [2]:
game = pd.read_csv('game.csv')

In [3]:
game

      1   2   3   4   5   6   7   8   9  10  Amount
0   2.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
1   3.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
2   4.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
3   5.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
4   6.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
5   7.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
6   8.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
7   9.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
8  10.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000
9   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN    3000

In [ ]:
game.iloc['']