In [78]:
import pandas as pd
import numpy as np

In [3]:
game = pd.read_csv('game.csv')
game.set_index('Unnamed: 0', inplace=True)

In [4]:
participants = pd.read_csv('participants.csv')

In [5]:
participants.set_index("Name", inplace=True)

In [6]:
participants.to_csv('participants.csv')

In [7]:
name = "ramen#7788"

In [8]:
participants

             Team
Name
ramen#4633  team1
ramen#7788  team2

In [9]:
participants.loc['ramen#4633', 'Team']

'team1'

In [111]:
teams = pd.read_csv('teams.csv')

In [112]:
teams

  TeamName      TeamCode
0  lololol  JYODKXEOSBOM
1      xyz  JILANMXSLMXY
2  lololol  ZVLXOBLEPNCL
3      LOL  TANTRLKGYAPT
4      xyz  QUDLQFCGUQST
5       pp  TWYFFZOISWMH

In [58]:
list(teams['TeamCode'])

['JYODKXEOSBOM', 'JILANMXSLMXY']

In [54]:
mask = teams.loc[teams['TeamCode']=='JILANMXSLMXY']
mask.loc[1,'TeamName']

'xyz'

In [13]:
teams

   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0 TeamName      TeamCode
0             0           0.0         0.0       SA  VZBBLFNMYTMF
1             1           0.0         NaN    LOLOL  YUVMQJDVWKKU
2             0           NaN         NaN  Sahivam  SIJZJEVJLXEK

In [14]:
append = {'TeamName':[123], 'TeamCode':[113]}

In [15]:
append = pd.DataFrame(append)

In [16]:
teams = pd.concat((teams, append), axis=0)

In [17]:
teams

   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0 TeamName      TeamCode
0           0.0           0.0         0.0       SA  VZBBLFNMYTMF
1           1.0           0.0         NaN    LOLOL  YUVMQJDVWKKU
2           0.0           NaN         NaN  Sahivam  SIJZJEVJLXEK
0           NaN           NaN         NaN      123           113

In [81]:
register = pd.read_csv('register.csv')

In [82]:
register

        Name        Email  Roll Number  Phone Number  Discord Id Team Name
0     Shivam      staneja        12345         23451  ramen#4633       LOL
1  divyanshu  abc@xyz.com       123455   12334567890    Dvv#5904       xyz

NameError: name 'null' is not defined

In [86]:
register.loc[mask, 'Team Name'].item()

'LOL'

In [84]:
mask = register['Discord Id'] == 'ramen#4633'
if register.loc[mask, 'Team Name'].isnull().item():
    print(1)
else:
    print(2)

2

In [110]:
teams

  TeamName      TeamCode
0  lololol  JYODKXEOSBOM
1      xyz  JILANMXSLMXY

In [127]:
teams[teams['TeamCode'] == 'TWYFFZOISWMH'].TeamName.item()

'pp'

In [114]:
team_name = mask.loc[, 'TeamName']

KeyError: 1

In [80]:
register

        Name        Email  Roll Number  Phone Number  Discord Id Team Name
0     Shivam      staneja        12345         23451  ramen#4633       NaN
1  divyanshu  abc@xyz.com       123455   12334567890    Dvv#5904       xyz

In [51]:
game

,team1,team2,team3,team4,team5,team6,team7,team8,team9,team10
Unnamed: 0,,,,,,,,,,
team1,100,0,0,0,0,0,0,0,0,0
team2,0,100,0,0,0,0,0,0,0,0
team3,0,0,100,0,0,0,0,0,0,0
team4,10,0,0,100,0,0,0,0,0,0
team5,0,0,0,0,100,0,0,0,0,0
team6,0,0,0,0,0,100,0,0,0,0
team7,0,0,0,0,0,0,100,0,0,0
team8,0,0,0,0,0,0,0,100,0,0
team9,0,0,0,0,0,0,0,0,100,0
team10,0,0,0,0,0,0,0,0,0,100

In [50]:
game.loc[var, 'team1'] = 10