In [2]:
import pandas as pd

In [3]:
game = pd.read_csv('game.csv')
game.set_index('Unnamed: 0', inplace=True)

In [8]:
participants = pd.read_csv('participants.csv')

In [10]:
participants.set_index("Name", inplace=True)

In [12]:
participants.to_csv('participants.csv')

In [40]:
name = "ramen#7788"

In [13]:
participants

             Team
Name
ramen#4633  team1
ramen#7788  team2

In [15]:
participants.loc['ramen#4633', 'Team']

'team1'

In [49]:
game

,team1,team2,team3,team4,team5,team6,team7,team8,team9,team10
Unnamed: 0,,,,,,,,,,
team1,100,0,0,0,0,0,0,0,0,0
team2,0,100,0,0,0,0,0,0,0,0
team3,0,0,100,0,0,0,0,0,0,0
team4,0,0,0,100,0,0,0,0,0,0
team5,0,0,0,0,100,0,0,0,0,0
team6,0,0,0,0,0,100,0,0,0,0
team7,0,0,0,0,0,0,100,0,0,0
team8,0,0,0,0,0,0,0,100,0,0
team9,0,0,0,0,0,0,0,0,100,0
team10,0,0,0,0,0,0,0,0,0,100

In [45]:
var = input()

team4

In [51]:
game

,team1,team2,team3,team4,team5,team6,team7,team8,team9,team10
Unnamed: 0,,,,,,,,,,
team1,100,0,0,0,0,0,0,0,0,0
team2,0,100,0,0,0,0,0,0,0,0
team3,0,0,100,0,0,0,0,0,0,0
team4,10,0,0,100,0,0,0,0,0,0
team5,0,0,0,0,100,0,0,0,0,0
team6,0,0,0,0,0,100,0,0,0,0
team7,0,0,0,0,0,0,100,0,0,0
team8,0,0,0,0,0,0,0,100,0,0
team9,0,0,0,0,0,0,0,0,100,0
team10,0,0,0,0,0,0,0,0,0,100

In [50]:
game.loc[var, 'team1'] = 10