In [2]:
import pandas as pd

In [3]:
game = pd.read_csv('game.csv')
game.set_index('Unnamed: 0', inplace=True)

In [4]:
participants = pd.read_csv('participants.csv')

In [5]:
participants.set_index("Name", inplace=True)

In [6]:
participants.to_csv('participants.csv')

In [7]:
name = "ramen#7788"

In [8]:
participants

             Team
Name
ramen#4633  team1
ramen#7788  team2

In [9]:
participants.loc['ramen#4633', 'Team']

'team1'

In [78]:
teams = pd.read_csv('teams.csv')

In [11]:
game

,team1,team2,team3,team4,team5,team6,team7,team8,team9,team10
Unnamed: 0,,,,,,,,,,
team1,100,0,0,0,0,0,0,0,0,0
team2,0,100,0,0,0,0,0,0,0,0
team3,0,0,100,0,0,0,0,0,0,0
team4,0,0,0,100,0,0,0,0,0,0
team5,0,0,0,0,100,0,0,0,0,0
team6,0,0,0,0,0,100,0,0,0,0
team7,0,0,0,0,0,0,100,0,0,0
team8,0,0,0,0,0,0,0,100,0,0
team9,0,0,0,0,0,0,0,0,100,0
team10,0,0,0,0,0,0,0,0,0,100

In [45]:
var = input()

team4

In [79]:
teams

Empty DataFrame
Columns: [TeamName, TeamCode]
Index: []

In [84]:
append = {'TeamName':[123], 'TeamCode':[113]}

In [85]:
append = pd.DataFrame(append)

In [86]:
teams = pd.concat((teams, append), axis=0)

In [87]:
teams

  TeamName TeamCode
0       23       13
0      123      113

In [124]:
register = pd.read_csv('register.csv')

In [125]:
register

,Unnamed: 0,Name,Email,Roll Number,Phone Number,Discord Id,Team Name
0,0,Name,email@google.edu,1025,9821090000,discordid#4431,NaN

In [127]:
register[register['Discord Id'] == 'discordid#4431']['Team Name']

0   NaN
Name: Team Name, dtype: float64

In [121]:
register

,Unnamed: 0,Name,Email,Roll Number,Phone Number,Discord Id,Team Name
0,0,Shivam,staneja_be20@thapar.edu,102003244,9821090076,ramen#4633,NaN

In [51]:
game

,team1,team2,team3,team4,team5,team6,team7,team8,team9,team10
Unnamed: 0,,,,,,,,,,
team1,100,0,0,0,0,0,0,0,0,0
team2,0,100,0,0,0,0,0,0,0,0
team3,0,0,100,0,0,0,0,0,0,0
team4,10,0,0,100,0,0,0,0,0,0
team5,0,0,0,0,100,0,0,0,0,0
team6,0,0,0,0,0,100,0,0,0,0
team7,0,0,0,0,0,0,100,0,0,0
team8,0,0,0,0,0,0,0,100,0,0
team9,0,0,0,0,0,0,0,0,100,0
team10,0,0,0,0,0,0,0,0,0,100

In [50]:
game.loc[var, 'team1'] = 10